@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bege: #FAF0E5;
    --marrom-claro: #E3D6C8;
    --marrom: #B8A28B;
    --marrom-escuro: #8E7253;
    --branco: #FFFFFF;
    --preto: #000000;
}

* {
    font-family: "Roboto", sans-serif;
    color: var(--preto);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../assets/Homepage.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 50px 50px;
    z-index: 100;
    background-color: var(--marrom-escuro);
}

.logo-topo {
    margin-bottom: 25px;
}

.navbar a {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: var(--branco);
    font-weight: 300;
    margin-left: 35px;
}

.navbar a:hover {
    text-decoration: underline;
}

.corpo {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titulo h1 {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 5rem;
    margin-right: 1100px;
}

.subtitulo {
    margin-right: 1100px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
}

.contexto {
    
    margin-top: 5%;
    margin-right: 1100px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}

.destaques {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    width: 100vw;
    border-radius: 50px;
    background-color: var(--marrom-claro);
}

.destaques img {
    border: 8px solid var(--marrom);
    border-radius: 15px;
}

.destaques img:hover {
    transform: scale(1.1); 
}

.destaques h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
    text-align: center;
}

.pre-footer {
    height: 60vh;
    width: 100%;
}

.frase {
    margin-top: 10%;
    justify-content: right;
}

.autores {
    justify-content: space-around;
    margin-top: 200px;
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    
}

.autores img {
    margin: 15px;
}

.autores-titulo {
    margin-top: 500px;
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    font-weight: 300; 
    white-space: nowrap;
    display: flex;
    justify-self: end;
    margin-right: 250px;
}

footer {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px 50px 0px 0px;
    background-color: var(--marrom-escuro);
}

.copyright {
    margin-top: 20px;
}

.copyright p {
    color: var(--branco);
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
}

